.na{
    background: rgba(134,8,151,0.89);


}

.na5{
    background: #EFEFEF;
    height: 600px;
    position: relative;
    top: -20px;

}

.na1{
    background: #0588D3;
    height: 600px;
    margin: 0px;
    position: relative;
    top: -20px;

}
na2{
    background: rgba(114,129,255,0.89);
    height: 23px;
    margin: 0px;




}
.na6{

}
.h{

    height: 410px;
}